<template>
  <div class="botones">
    <nav>
      <button>
        <fa icon="dollar-sign" />
        Paga
      </button>
      <button>
        <fa icon="exchange-alt" />
        Transfiere
      </button>
      <button>
        <fa icon="mobile-alt" />
        Recarga
      </button>
      <button>
        <fa icon="globe-americas" />
        Envía dinero al exterior
      </button>
      <button>
        <fa icon="globe-americas" />
        Recibe dinero del exterior
      </button>
    </nav>
  </div>

  <h1>Hola, {{ name }}</h1>

  <div v-if="loaded" class="information">
    <div class="container-left-account">
      <div class="container-left-information">
        <h2>Email</h2>
        <div class="descripcion-left-account">
          <p><b>Correo electrónico:</b> {{ email }}</p>
        </div>
      </div>
      <div class="container-left-information">
        <h2>Cuenta de ahorro #{{ id }}</h2>
        <div class="descripcion-left-account">
          <p>
            <b> Balance de su cuenta de ahorros </b>
            $ {{ balance.toLocaleString("en-US") }}
          </p>
        </div>
      </div>
      <div class="container-left-information">
        <h2>
          Prestamos
          <i style="color: #ff8c00; margin: 0 0 0 30px"
            >Disponible hasta 31 de Dic</i
          >
        </h2>
        <div class="descripcion-left-account">
          <p><b>Crédito de consumo</b></p>
          <p>Hasta por &#36;70.000.000,00</p>
        </div>
      </div>
    </div>

    <div class="container-right-account">
      <div class="container-left-information">
        <div class="descripcion-left-account">
          <h2>Ficha #1</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
            molestiae, enim ipsum consequuntur consectetur corrupti ratione non
            tempore quisquam omnis saepe aspernatur iusto temporibus numquam
            accusamus. At placeat iusto deserunt.
          </p>
        </div>
      </div>
      <div class="container-left-information">
        <div class="descripcion-left-account">
          <h2>Ficha #2</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. At
            molestiae, enim ipsum consequuntur consectetur corrupti ratione non
            tempore quisquam omnis saepe aspernatur iusto temporibus numquam
            accusamus. At placeat iusto deserunt.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from "axios";

export default {
  name: "Account",
  data: function () {
    return {
      name: "",
      email: "",
      balance: 0,
      loaded: false,
    };
  },

  methods: {
    getData: async function () {
      if (
        localStorage.getItem("token_access") === null ||
        localStorage.getItem("token_refresh") === null
      ) {
        this.$emit("logOut");
        return;
      }
      await this.verifyToken();
      let token = localStorage.getItem("token_access");
      let userId = jwt_decode(token).user_id.toString();

      axios
        .get(`https://mision-tic-bank-be-raul.herokuapp.com/user/${userId}/`, {
          headers: { Authorization: `Bearer ${token}` },
        })
        .then((result) => {
          this.id = result.data.id;
          this.name = result.data.name;
          this.email = result.data.email;
          this.balance = result.data.account.balance;
          this.loaded = true;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    verifyToken: function () {
      return axios
        .post(
          "https://mision-tic-bank-be-raul.herokuapp.com/refresh/",
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },
  created: async function () {
    this.getData();
  },
};
</script>

<style>
.botones {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;

  background-color: #283747;
  color: #e5e7e9;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botones nav {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 20px;
}

.botones nav button {
  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;

  border-radius: 5px;
  padding: 10px 20px;
}

.botones nav button:hover {
  color: #283747;
  background: #e5e7e9;
  border: 1px solid #e5e7e9;
}

.botones nav button p {
  display: inline-block;
}

.botones nav button svg {
  font-size: 1rem;
}

.information {
  margin: 0;
  padding: 0%;
  width: 100%;
  max-height: 100%;
  display: flex;
}

h1 {
  font-size: 2rem;
  margin: 20px 0px 20px 40px;
}

.container-left-account {
  background-color: white;
  width: 65%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-right-account {
  background-color: white;
  width: 30%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-left-account .container-left-information {
  width: 90%;
  justify-content: center;
  align-items: center;
  border: 3px solid #283747;
  margin: 5px 0;
}

.container-right-account .container-left-information {
  border: 3px solid #283747;
  margin: 2px 0;
}
</style>
