<template>
  <section class="greetings">
    <div class="container-general">
      <div class="container-left">
        <div class="container-products">
          <div class="containers">
            <div class="container">
              <h2>Saldo de productos</h2>
              <div class="descripcion">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Distinctio nemo officiis minus porro quidem quis adipisci rem
                  ducimus deleniti amet, aliquid, consequuntur et quae ad
                  nostrum sit ullam praesentium aspernatur!
                </p>
              </div>
            </div>
            <div class="container">
              <h2>Movimientos recientes</h2>
              <div class="descripcion">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Distinctio nemo officiis minus porro quidem quis adipisci rem
                  ducimus deleniti amet, aliquid, consequuntur et quae ad
                  nostrum sit ullam praesentium aspernatur! Lorem ipsum dolor
                  sit amet consectetur adipisicing elit. Et corrupti natus
                  eveniet voluptatem eos maxime pariatur, illo in ullam
                  recusandae cupiditate rem perspiciatis tempora fugit dicta
                  doloremque dolorum reprehenderit quis! Lorem ipsum dolor sit
                  amet, consectetur adipisicing elit. Distinctio nemo officiis
                  minus porro quidem quis adipisci rem ducimus deleniti amet,
                  aliquid, consequuntur et quae ad nostrum sit ullam praesentium
                  aspernatur! Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Et corrupti natus eveniet voluptatem eos maxime
                  pariatur, illo in ullam recusandae cupiditate rem perspiciatis
                  tempora fugit dicta doloremque dolorum reprehenderit quis!
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="container-mensajes" style="background-color: white">
          <div class="container">
            <h2>Mensajes</h2>
            <div class="descripcion">
              <h2>Mensaje 1</h2>
              <div class="descripcion">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                  quae iure obcaecati nemo, corrupti, quo eligendi assumenda,
                  perspiciatis reprehenderit neque mollitia a sit blanditiis
                  voluptatum iusto velit ad consectetur autem.
                </p>
              </div>
              <h2>Mensaje 2</h2>
              <div class="descripcion">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                  quae iure obcaecati nemo, corrupti, quo eligendi assumenda,
                  perspiciatis reprehenderit neque mollitia a sit blanditiis
                  voluptatum iusto velit ad consectetur autem.
                </p>
              </div>
              <h2>Mensaje 3</h2>
              <div class="descripcion">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                  quae iure obcaecati nemo, corrupti, quo eligendi assumenda,
                  perspiciatis reprehenderit neque mollitia a sit blanditiis
                  voluptatum iusto velit ad consectetur autem.
                </p>
              </div>
              <h2>Mensaje 4</h2>
              <div class="descripcion">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                  quae iure obcaecati nemo, corrupti, quo eligendi assumenda,
                  perspiciatis reprehenderit neque mollitia a sit blanditiis
                  voluptatum iusto velit ad consectetur autem.
                </p>
              </div>
              <h2>Mensaje 5</h2>
              <div class="descripcion">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
                  quae iure obcaecati nemo, corrupti, quo eligendi assumenda,
                  perspiciatis reprehenderit neque mollitia a sit blanditiis
                  voluptatum iusto velit ad consectetur autem.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-right">
        <div class="container">
          <div class="fichas-home">
            <div class="ficha">
              <h2>Ficha #1</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea,
                sunt ut labore animi dignissimos vel voluptatibus optio commodi
                quisquam sint fugiat quos libero placeat sapiente, sed officia,
                a nesciunt illum? Soluta laudantium dolorem deleniti provident
                praesentium? Eaque rem necessitatibus, consequuntur nihil ab vel
                animi dolore minus earum magnam, laborum incidunt voluptatum
                eius tempore ipsa libero autem rerum. Beatae, accusamus
                doloremque. Incidunt, doloremque quia? Dignissimos repellat
                rerum harum nihil nisi unde necessitatibus, iure possimus
                corrupti inventore deleniti sunt eveniet laudantium recusandae
                sapiente quaerat sint quo vero in beatae mollitia voluptates
                quam! Unde nisi officia doloribus nihil eaque ad. Nihil odit
                impedit dolorem, quae perferendis quos commodi quisquam est
                adipisci distinctio incidunt libero maxime debitis ipsum non
                placeat error molestiae doloremque eum. Necessitatibus ratione
                eius odit sed explicabo unde debitis? Illo pariatur excepturi
                vero corporis, quis animi mollitia provident iure facilis,
                accusantium labore cumque ea odio illum voluptatibus veniam
                repellat quisquam eveniet.
              </p>
            </div>
            <div class="ficha">
              <h2>Ficha #2</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi
                dicta cumque placeat odio quis corporis architecto maiores
                inventore, asperiores tempora libero hic voluptate neque ipsum
                porro iste assumenda quos est! Mollitia commodi pariatur nemo
                suscipit provident ex doloribus ipsam, nisi laborum culpa magnam
                maiores, deleniti dolorum repellat nihil? A ea iusto, ex
                cupiditate eligendi quas laborum eum incidunt. Voluptatibus,
                perspiciatis! Eos corrupti eius a blanditiis. Quasi, labore
                iusto adipisci eligendi dolore sed nostrum necessitatibus alias,
                debitis possimus, quae reiciendis deserunt totam harum! Saepe
                placeat soluta, eaque exercitationem repellendus natus? Est.
                Dolorum dolores culpa illum mollitia incidunt, inventore tempore
                placeat porro maiores saepe, vel eligendi dolorem explicabo
                ullam quae, suscipit laborum quis nulla. Porro voluptatem
                aspernatur nisi, laudantium assumenda provident nemo! Rerum rem
                ut, officiis error pariatur dolor quaerat fuga dolores ratione
                debitis possimus iusto id vel sunt perferendis! Veritatis
                molestias perspiciatis, quae incidunt cupiditate repellat
                mollitia eaque vitae quidem dolor!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Home",
  data: function () {
    return {
      username: localStorage.getItem("username") || "none",
    };
  },
};
</script>

<style>
.greetings {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.greetings h1 {
  font-size: 50px;
  color: #283747;
}

.greetings span {
  color: crimson;
  font-weight: bold;
}

.container-general {
  width: 100%;
  height: 100%;
  display: flex;
}

p {
  margin: 10px;
}

h2 {
  margin: 20px;
}

.container-left {
  width: 75%;
  margin: 10px auto;
  display: flex;
}

.container-left .container-products,
.container-left .container-mensajes {
  width: 48%;
  height: 95%;
  margin: auto;
  position: relative;

  border: 3px solid #283747;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Configuraciones ficha productos */
.container-left .container-products .containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-left .container-products .containers,
.container-left .container-mensajes .container {
  position: absolute;
  margin: 10px;
}

.container-left .container-products .containers .container {
  margin: auto 10px;
}

.container-left .container-products .containers .container .descripcion {
  border: 2px solid black;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  max-height: 170px;
  overflow: auto;
}
/* Fin de configuraciones productos */

.container-left .container-mensajes .container .descripcion {
  border: 2px solid black;
  border-radius: 10px;
  width: 90%;
  max-height: 350px;
  overflow: auto;
  margin: auto;
}

.container-right {
  width: 20%;
  margin: 10px auto;
  display: flex;
}

.container-right .container {
  width: 95%;
  height: 95%;
  margin: auto;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.fichas-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 10px;
}

.ficha {
  border: 3px solid #283747;
  width: 100%;
  max-height: 210px;
  margin: 10px;
  overflow: auto;
}
</style>