<template>
  <div class="container-slider">
    <ul class="slider">
      <li id="slide1">
        <img src="../images-slider/tarjeta-credito.png" />
      </li>
      <li id="slide2">
        <img src="../images-slider/cuenta-ahorro.png" />
      </li>
      <li id="slide3">
        <img src="../images-slider/inversion.png" />
      </li>
      <li id="slide4">
        <img src="../images-slider/credito-hipotecario.png" />
      </li>
    </ul>

    <ul class="menu">
      <li>
        <a href="#slide1">1</a>
      </li>
      <li>
        <a href="#slide2">2</a>
      </li>
      <li>
        <a href="#slide3">3</a>
      </li>
      <li>
        <a href="#slide4">4</a>
      </li>
    </ul>
  </div>

  <div class="fichas">
    <div class="container-ficha">
      <img class="image" src="../images-fichas/tarjeta-credito.png" />
      <div class="container-description">
        <p class="description">
          Solicita por internet tu tarjeta de crédito, o por la sucursal
          telefónica marcando sin costo #555 desde un celular o 01-8000-998877
          desde un teléfono fijo. <br />
          También puedes acercarte a una de nuestras sucursales donde uno de
          nuestros asesores te ayudará con todos los requisitos.
        </p>
      </div>
    </div>

    <div class="container-ficha">
      <img class="image" src="../images-fichas/cuenta-ahorro.png" />
      <div class="container-description">
        <p class="description">
          Abre una Cuenta de Ahorros por Internet Ábrela por Internet sin
          desplazarte o en una oficina. La apertura por Internet está habilitada
          solo para clientes nuevos. La Tarjeta Débito llega al lugar que
          elijas, el domicilio es gratis.
        </p>
      </div>
    </div>

    <div class="container-ficha">
      <img class="image" src="../images-fichas/inversion-virtual.png" />
      <div class="container-description">
        <p class="description">
          ¿Qué tal si empiezas a invertir desde ya? Es muy sencillo, el único
          requisito es que tengas una Cuenta Corriente o de Ahorros para
          realizar la transferencia. Si aún no tienes una cuenta y ya eres
          cliente, solicítala a través de nuestras sucursales, si aún no eres
          cliente abre tu Cuenta de Ahorros por Internet aquí y empieza a
          disfrutar de todos sus beneficios.​
        </p>
      </div>
    </div>

    <div class="container-ficha">
      <img class="image" src="../images-fichas/credito-hipotecario.png" />
      <div class="container-description">
        <p class="description">
          Es una alternativa para que cumplas la meta de tener tu casa propia, a
          través de un préstamo a largo plazo en el que pagas cuotas mensuales y
          el inmueble queda como garantía.
        </p>
      </div>
    </div>
  </div>
</template>

<style>
body {
  font-family: sans-serif;
}

.container-slider {
  margin-top: 10px;
  margin: auto;
  background-color: white;

  width: 600px;
  padding: 20px;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slider {
  position: relative;
  width: 600px;
  height: 225px;
}

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.5s;
  background: #fff;
}

ul.slider li img {
  width: 100%;
  height: 225px;
  border: 1px solid black;
  border: 2px solid black;
  object-fit: cover;
}

ul.slider li:first-child {
  opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu {
  text-align: center;
  margin: 10px;
}

.menu li {
  display: inline-block;
  text-align: center;
  padding: 0 2px;
}

.menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 15px;
  height: 15px;
  font-size: 15px;
  border-radius: 100%;
}

.fichas {
  width: 100%;
  display: flex;
}

.container-ficha {
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid black;
  width: 15%;
  height: 150px;
  display: inline-block;
  margin: 20px auto;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.container-description {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: black;
  text-align: center;
  border-radius: 10px;
  overflow: auto;
  display: none;

  /* SOMBRAS */
  -webkit-box-shadow: -5px 5px 12.5px 1px rgba(137, 137, 137, 1);
  -moz-box-shadow: -5px 5px 12.5px 1px rgba(137, 137, 137, 1);
  box-shadow: -5px 5px 12.5px 1px rgba(137, 137, 137, 1);
}

.container-description h2 {
  color: white;
}

.description {
  color: white;
  padding-bottom: 10px;
  font-size: 1rem;
}

.container-ficha:hover .container-description {
  display: block;
  opacity: 1;
}
</style>