<template>
  <div id="app" class="app">
    <div class="header">
      <h1>Banco Team 4</h1>
      <nav>
        <button v-if="is_auth" v-on:click="loadHome">Inicio</button>
        <button v-if="is_auth" v-on:click="loadAccount">Cuenta</button>
        <button v-if="is_auth" v-on:click="logOut">Cerrar Sesión</button>
        <button v-if="!is_auth" v-on:click="loadProducts">Productos</button>
        <button v-if="!is_auth" v-on:click="loadLogIn">Iniciar Sesión</button>

        <button v-if="!is_auth" v-on:click="loadSignUp">Registrarse</button>
      </nav>
    </div>

    <div class="main-component">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
      >
      </router-view>
    </div>

    <div class="footer">
      <div class="contacto">
        <fa icon="phone-square-alt" />
        <p>5555-987654</p>
      </div>

      <div class="copyright">
        <h2>Copyright &copy; 2021 Banco Team 4</h2>
      </div>

      <div class="redes">
        <fa :icon="['fab', 'facebook-square']" />
        <fa :icon="['fab', 'instagram-square']" />
        <fa :icon="['fab', 'twitter-square']" />
        <fa :icon="['fab', 'linkedin']" />
      </div>
    </div>
  </div>
</template>




<script>
export default {
  name: "App",

  data: function () {
    return {
      is_auth: false,
    };
  },

  components: {},

  methods: {
    verifyAuth: function () {
      this.is_auth = localStorage.getItem("isAuth") || false;

      if (this.is_auth == false) this.$router.push({ name: "products" });
      else this.$router.push({ name: "home" });
    },

    loadProducts: function () {
      this.$router.push({ name: "products" });
    },

    loadLogIn: function () {
      this.$router.push({ name: "logIn" });
    },

    loadSignUp: function () {
      this.$router.push({ name: "signUp" });
    },

    loadAccount: function () {
      this.$router.push({ name: "account" });
    },

    completedLogIn: function (data) {
      localStorage.setItem("isAuth", true);
      localStorage.setItem("username", data.username);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      localStorage.setItem("name", data.name);
      alert("Autenticación Exitosa");
      this.verifyAuth();
    },

    loadHome: function () {
      this.$router.push({ name: "home" });
    },

    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.verifyAuth();
    },

    completedSignUp: function (data) {
      alert("Registro Exitoso");
      this.completedLogIn(data);
    },
  },

  created: function () {
    this.verifyAuth();
  },
};
</script>






<style>
html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 60px;
}

p {
  font-family: 'Arial', Courier, monospace;
}

.header {
  margin: 0%;
  padding: 0;
  width: 100%;
  height: 10%;
  max-height: 60px;

  background-color: #283747;
  color: #e5e7e9;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  width: 20%;
  text-align: center;
  font-size: 1.75rem;
}

.header nav {
  height: 100%;
  width: 30%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-size: 20px;
}

.header nav button {
  color: #e5e7e9;
  background: #283747;
  border: 1px solid #e5e7e9;

  border-radius: 5px;
  padding: 10px 20px;
}

.header nav button:hover {
  color: #283747;
  background: #e5e7e9;
  border: 1px solid #e5e7e9;
}

.main-component {
  height: 75vh;
  margin: 0%;
  padding: 0%;

  background: #fdfefe;
}

.footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10%;
  max-height: 60px;

  background-color: #283747;
  color: #e5e7e9;

  position: absolute;
  bottom: 0;

  display: flex;
}

.footer .copyright h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.footer > .contacto svg,
.redes svg {
  font-size: 1.75rem;
  padding: 0 5px;
}

.footer > .contacto > p {
  display: inline-block;
  margin: 0;
}

.footer > .contacto,
.copyright,
.redes {
  display: inline-block;
  margin: auto;
}
</style>
